<h1>lista de personajes</h1>
<h3>paginas:{{numPages}}
num paginas: {{paginaActual}}

</h3>
<div class="botones">
  <button (click)="changePage(false)" [disabled]="paginaActual===1">Anterior</button>
  <button (click)="changePage(true)" [disabled]="paginaActual===numPages">siguiente</button>
</div>

<div class="personajes" >
  <div class="personaje" *ngFor="let personaje of arrPersonajes"
    [ngClass]="{vivo: personaje.status==='Alive',muerto:personaje.status==='Dead'}">
    <h3>{{personaje.name}} </h3>
    <img [src]="personaje.image" alt="">
    <p>{{personaje.species}}</p>
  </div>
</div>